<div class="container">
  <h1>Gastos</h1>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">gastos</th>
        <th scope="col">nombre</th>
        <th scope="col">detalle</th>
      </tr>
    </thead>
    <tbody>
      @for (gasto of gastosList; track $index) {

        <tr>
          <th scope="row">{{gasto.id}}</th>
          <td>{{gasto.impuesto}}</td>
          <td>{{gasto.importePagar}}</td>
          <td><button type="button" class="btn btn-outline-primary" (click)="navegate(gasto.id)">details</button></td>
        </tr>
      }
     
    </tbody>
  </table>

</div>